@use '../util' as util;

nav{
  height: 100%;
  transition: width 0.3s ease;
  position: relative;
  background-color: #454545;
  overflow: hidden;
}

.dialBtn {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  @include util.center();
  transition: left 0.3s ease;
  background-color: #8c96ed;
  border-radius: 0 5px 5px 0;
}

.dialBtnIcon{
  height: 100%;
  width: 100%;
  color: #ffffff;
}
.dialBtn:hover{
  background-color: #848ddd;
}

.addWorkspace {
  position: relative;
  top: 20px;
  left: 20px; // 원하는 위치에 맞춰 조정
  display: flex;
  align-items: center;
  transition: display 0.6s ease;
  width: 100%;

  .addWorkspaceInput {
    height: 30px;
    padding: 0 8px;
    font-size: 14px;
    width: 60%;
    &:focus {
      outline: none;
    }
  }

  .addWorkspaceBtn {
    height: 30px;
    width: 30px;
    margin-left: 8px;
    @include util.center();
    cursor: pointer;

    .addIcon{
      height: 100%;
      width: 100%;
      color: #8c96ed;
      &:hover {
        color: #848ddd;
      }
    }
  }
}

.workspaceContain{
  @include util.center();
  flex-direction: column;
  margin-top: 50px;
}